.performance-report-container {
    padding: 20px;
    background-color: whitesmoke;
    min-height: 100vh;
    text-align: center;
  }
  
h2 {
    margin-bottom: 20px;
    color: #333;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.performance-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.performance-table th,
.performance-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.performance-table th {
    background-color: #aa853e;
    color: white;
}

.performance-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.charts {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.bar-chart,
.pie-chart {
    width: 45%;
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }

    .charts {
        flex-direction: column;
        align-items: center;
    }

    .bar-chart,
    .pie-chart {
        width: 90%;
    }
}