/* Main */

.selfservice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  width: 100%;
  font-family: Roboto, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.selfservice-dashboard {
  text-align: center;

}

.selfservice-dashboard-title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}


.selfservice-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}


.selfservice-buttons button {
  background: #D88A29;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
}

.selfservice-buttons button:hover {
  background: #aa853e;
}


.selfservice-back-button {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 14px;
  background: #D88A29;
  color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  
  align-self: flex-start;
}

.selfservice-back-button:hover {
  background: #aa853e;
}



/*  Profile Update  */
.selfservice-profile-update-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

 

.selfservice-profile-update-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}
 

.selfservice-form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
 
.selfservice-form-group {
  display: flex;
  flex-direction: column;
}
 
.selfservice-form-group label {
  font-weight: bold;
  margin-bottom: 4px;
}
 

.selfservice-form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
 

.selfservice-profile-update-button {
  width: 40%;
  margin-top: 16px;
  padding: 12px;
  background-color: #D88A29;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
 
.selfservice-profile-update-button:hover {
  background-color: #aa853e;
}




/* ExpenseReimbursement.css */
.expense-reimbursement-container {
  padding: 120px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 
}

.expense-reimbursement-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  
}

.expense-reimbursement-form {
  display: flex;
   flex-direction: column; 
 
}

.expense-reimbursement-form-group {
  margin-bottom: 15px;
  gap:20px
}

.expense-reimbursement-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.expense-reimbursement-form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.expense-reimbursement-button {
  background-color: #D88A29;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px; 
}

.expense-reimbursement-button:hover {
  background-color: #aa853e;
}

/* HelpDesk.css */

.helpdesk-container {
  padding: 120px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.helpdesk-title {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
  margin-bottom: 20px;
  text-align: center;
}

.helpdesk-form {
  display: flex;
  flex-direction: column;
}

.helpdesk-form-group {
  margin-bottom: 15px;
}

.helpdesk-form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.helpdesk-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.helpdesk-button {
  background-color: #D88A29;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:200px;
}

.helpdesk-button:hover {
  background-color: #aa853e;
}
