.payroll-compensation {
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.grid-container button {
  padding: 10px;
  background-color: #aa853e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.grid-container button:hover {
  background-color: #8c6c32;
}