.salary-structure {
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.search-container input {
    padding: 6px; 
    width: 180px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container .search-btn {
    padding: 6px 10px; 
    background-color: #aa853e;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 6px; 
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #004080;
    color: white;
    font-size: 14px; 
}


.edit-btn {
    background-color: #aa853e;
    color: white;
    padding: 5px 8px; 
    border: none;
    cursor: pointer;
    font-size: 14px;
}


.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.back-btn, .add-btn {
    padding: 8px 14px; 
    background-color: #aa853e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
