.salary-structure {
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-container input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container .search-btn {
  padding: 8px 12px;
  background-color: #aa853e;
  border: none;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #004080;
  color: white;
}

.edit-btn {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.back-btn, .add-btn {
  padding: 10px;
  background-color: #aa853e;
  color: white;
  border: none;
  cursor: pointer;
}
