.organization-goal-container {
    padding-left: 15px;
    padding: 20px;
}

.organization-goal-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.organization-goal-heading {
    font-size: 24px;
    font-weight: bold;
}

.organization-goal-para {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.organization-goal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #aa853e;
}

.organization-goal-table th, .organization-goal-table td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.organization-goal-table th {
    background-color: #4a4a4a;
    color: white;
    font-weight: bold;
}

.organization-goal-select-period {
    width: 200px;
    font-size: 14px;
    padding: 5px;
}

.organization-goal-btn-primary {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}

.organization-goal-btn-danger {
    background-color: #dc3545;
    color: white;
}

.organization-goal-btn-success {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.organization-goal-add-new-button {
    position: absolute;
    top: 20px;
    right: 20px;
    position: relative;
    margin-left: auto;
    margin-top: 0;
}
.organization-goal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white; 
}

.organization-goal-table th, .organization-goal-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; 
}

.organization-goal-table th {
    background-color: #4a4a4a;
    color: white;
    font-weight: bold;
}

.organization-goal-table tbody tr:nth-child(2) {
    background: white !important;
}

/* .modal {
    background: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.modal {
    background: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-actions button {
    padding: 8px 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-actions button:first-child {
    /* background-color: #dc3545;  */
    background-color: #28a745; 
    color: white;
}

.modal-actions button:last-child {
    /* background-color: #28a745;  */
    background-color: #dc3545; 
    color: white;
}
